<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSCRIPCION</title>
    <link rel="stylesheet" href="./style/css suscripto.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">

</head>

<body class="stars">
    <header>
        <img class="logo" src="./pics/Logo fondo transparente[617].png" alt="Logo Kush">
        <nav>
            <ul>
                <li> <a class="nav-button" href="./">INICIO</a> </li>
                <li> <a class="nav-button" href="./blog">BLOG</a></li>
                <li> <a class="nav-button" href="./catalogo">CATALOGO</a></li>
                <li> <a class="nav-button" href="Foro">FORO</a></li>
                <li> <a class="nav-button" href="Contactos">CONTACTOS</a></li>
            </ul>
        </nav>
    </header>
    <span>
        <img id="user" src="/pics/villain.png" alt="user">
        <form id="login" action="http://localhost:4000/login" method="POST">
            <input class="input" type="email" name="usuario" placeholder="mail">
            <input class="input" type="password" name="password" placeholder="password">
            <button class="button-login">Iniciar secion</button>
        </form>
    </span>
    <a href="https://web.whatsapp.com/"><img id="wapp" src="./pics/whatsapp.png" alt="whatsapp"></a>
    <a href="add.com"> <img id="add" src="./pics/carrito-de-compras.png" alt="add"></a>
    <main>
        <section>

            <h1>Ocurrio un __ Error __ vuelve a intentarlo</h1>
            <div>
                <img src="/pics/error.svg" alt="Error">
            </div>
        </section>
    </main>
    <%- include ('footer'); %>
</body>

</html>