<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUSH TEEN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/Css inicio.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="stars">
    <header>
        <div>
            <img class="logo" src="./pics/Logo fondo transparente[617].png" alt="Logo Kush">
            <nav>
                <ul>
                    <li> <a class="nav-button" href="/blog">BLOG</a> </li>
                    <li> <a class="nav-button" href="/catalogo">CATALOGO</a> </li>
                    <li> <a class="nav-button" href="Foro">FORO</a> </li>
                    <li> <a class="nav-button" href="Contactos">CONTACTOS</a> </li>
                </ul>
            </nav>
        </div>
        <img id="baner" src="./pics/led-para-marihuana.jpg" alt="baner">
    </header>
    <span>
        <img id="user" src="/pics/villain.png" alt="user">
        <form id="login" action="http://localhost:4000/login" method="POST">
            <input class="input" type="email" name="usuario" placeholder="mail">
            <input class="input" type="password" name="password" placeholder="password">
            <button class="button-login">Iniciar secion</button>
        </form>
    </span>
    <a href="https://web.whatsapp.com/"><img id="wapp" src="./pics/whatsapp.png" alt="whatsapp"></a>
    <a href="add.com"> <img id="add" src="./pics/carrito-de-compras.png" alt="add"></a>
    <main>
        <div class="container__card">
            <div class="card__father">
                <div class="card">
                    <div class="card__front1">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Semillas CBD</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Semillas CBD</h1>
                            <P>Nuestra gama de semillas de marihuana con CBD alto está disponible en nuestro catálogo.
                            </P>
                            <a href="/blog"> <input type="button" value="Ver Mas"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__father">
                <div class="card">
                    <div class="card__front2">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Banco de Semillas</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Bank Semillas</h1>
                            <P>Uno de los factores más importantes del cultivo de marihuana es la genética que usemos.
                            </P>
                            <a href="/blog"> <input type="button" value="Ver Mas"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__father">
                <div class="card">
                    <div class="card__front3">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Comunidad Sustentable</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>BLOG</h1>
                            <P>comunidad ecológica y socialmente sana y resistente a través del manejo de sus
                                recursos naturales.</P>
                            <a href="/blog"> <input type="button" value="Ver Mas"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include ('footer'); %>
</body>

</html>