<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSCRIPCION</title>
    <link rel="stylesheet" href="./style/css suscripto.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">

</head>

<body class="stars">
    <header>
        <img class="logo" src="./pics/Logo fondo transparente[617].png" alt="Logo Kush">
        <nav>
            <ul>
                <li> <a class="nav-button" href="./">INICIO</a> </li>
                <li> <a class="nav-button" href="./blog">BLOG</a></li>
                <li> <a class="nav-button" href="./catalogo">CATALOGO</a></li>
                <li> <a class="nav-button" href="Foro">FORO</a></li>
                <li> <a class="nav-button" href="Contactos">CONTACTOS</a></li>
            </ul>
        </nav>
    </header>
    <a href="user.com"><img id="user" src="./pics/villain.png" alt="user"> </a>
    <a href="https://web.whatsapp.com/"><img id="wapp" src="./pics/whatsapp.png" alt="whatsapp"></a>
    <a href="add.com"> <img id="add" src="./pics/carrito-de-compras.png" alt="add"></a>
    <main>
        <section>
          
             <h1>SUSCRIPTO___CORRECTAMENTE</h1>
             <div>
                 <img src="./pics/cogollo solo.png" alt="cogollo">
                 <img src="./pics/comprobado.png" alt="comprobado">
             </div>
        </section>
    </main>
    <footer>
        <div><img src="./pics/Logo fondo transparente[617].png" alt="Logo Kush">
            <p>
                Basándose en la transmisión de los valores en los que se apoya la comunidad alternativa que existe en
                Humboldt, valores como la cooperación, la igualdad, el respeto hacia el medio ambiente, el respeto a la
                diversidad humana y a los cultivos 100% orgánicos, nuestro banco de semillas de marihuana Humboldt seeds
                ofrece súper genéticas desde Montevideo al resto del mundo.</p>
        </div>
        <div class="secondary">
            <h3>AYUDA</h3>
            <ul>
                <li>
                    <a href="questions">Dudas sobre pedidos y formas de envío</a>
                </li>
                <li>
                    <a href="questions"> Dudas sobre formas de pago</a>
                </li>
                <li>
                    <a href="questions"> Dudas sobre producto</a>
                </li>
                <li>
                    <a href="questions"> Dudas sobre cultivo</a>
                </li>
                <li>
                    <a href="questions"> Otras dudas</a>
                </li>
            </ul>
        </div>
        <div class="secondary">
            <h3>TERMINOS Y CONDISIONES</h3>
            <ul>
                <li>
                    <a href="questions"> Aviso Legal</a>
                </li>
                <li>
                    <a href="questions"> Envios y plazos de entrega</a>
                </li>
                <li>
                    <a href="questions"> Politica de Privacidad</a>
                </li>
                <li>
                    <a href="questions"> Limitacion de Responsabilidad</a>
                </li>
                <li>
                    <a href="questions">Legislacion y Juridiccion</a>
                </li>
                <li>
                    <a href="questions"> Derechos Reservados</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>SUSCRIPCION</h3>
            <form method="POST" action="http://localhost:4000/suscribe">
                <input 
                 class="input" 
                 required="true" 
                 type="text"
                 name="name"
                 placeholder="name">
                <input 
                 class="input" 
                 required="true" 
                 type="email"
                 name="email"
                 placeholder="mail">
                <button id="button">Enviar</button>
            </form>  
            <center><a href="https://www.facebook.com/usuario " target="_blank" class="fa fa-facebook-square"></a>
                <a href="https://twitter.com/usuario" target="_blank" class="fa fa-twitter-square"></a>
                <a href="https://plus.google.com/usuario" target="_blank" class="fa fa-google-plus-square"></a>
                <a href="https://linkedin.com/usuario" target="_blank" class="fa fa-linkedin-square"></a>
            </center>
            <p>© Copyright 2021 - kushTeen.uy - TODOS LOS DERECHOS RESERVADOS</p>
        </div>







    </footer>
</body>

</html>